body{

    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;

}
.main__formPreguntas{
    display: flex;
    flex-direction: row;
    
    table{
        border: 1px solid #7c7a7a;
    }

}
#formUser{
    display: none;
}
.a__button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2em;
    padding: 1em;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}